VITE_FIREBASE_API_KEY=AIzaSyBvuWzLAThSEPh3PwAI1Jzo7v0ZjQ4f1gI
VITE_FIREBASE_AUTH_DOMAIN=aurora-social-media.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=aurora-social-media
VITE_FIREBASE_STORAGE_BUCKET=aurora-social-media.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=373387083077
VITE_FIREBASE_APP_ID=1:373387083077:web:463c596f76836971b9522c